<!--/* それぞれのレイアウトから読み込まれる header.html  */-->

<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<div th:fragment="loggedInHeader">
  <header>
    <ul class="header_nav d-flex">
      <li><a href="/photos/">トップ</a></li>
      <li><a href="/users/detail/1"> 自分のプロフィール</a></li>
      <li><a href="/photos/create">新規投稿</a></li>
      <li>
        <form th:action="@{/logout}" method="post">
          <button type="submit">ログアウト</button>
        </form>
      </li>
    </ul>
  </header>
</div>

<div th:fragment="notLoggedInHeader">
  <header>
    <ul class="header_nav">
      <li><a href="/users/sign_up">サインアップ</a></li>
      <li><a href="/users/login">ログイン</a>
      </li>
    </ul>
  </header>
</div>

</html>